body{
  width: 800px;
  margin: 0 auto;

}
/* 
@media screen and(width:800px) {
  body{
    width:100%
  }
} */

#videos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  padding: 10px;
}

video{
  width:100%;
  height: 100%;
  border: 2px solid black;
  background-color: rgb(93, 180, 212);
}

textarea{
  height: 50px;
  width: 100%;
}


#screenshot{
  display: grid;
  margin-top: 20px;
  margin-left: 75%;
  text-align: center;
}